<div class="container">
  <ng-template #side>
    <div *ngIf="personalInformationTab.selected">
      <h4>this is some text</h4>
      <h2><b>personal info</b></h2>
      <h5><i>the long desc</i></h5>
    </div>

    <div *ngIf="emailTab.selected">
      <h4>this is some text</h4>
      <h2><b>email info</b></h2>
      <h5><i>the long desc</i></h5>
    </div>

    <div *ngIf="credentialsTab.selected">
      <h4>this is some text</h4>
      <h2><b>credentials info</b></h2>
      <h5><i>the long desc</i></h5>
    </div>

  </ng-template>

  <app-tab-panel #tabsPanel [sideLabels]="side">

    <span class="content">
      <app-tab label="Personal Information" #personalInformationTab>
        <form [formGroup]="form">
          <mat-form-field appearance="outline">
            <input matInput placeholder="First Name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Last Name">
          </mat-form-field>
        </form>
        <span class="nextpreviouscontrols">
          <a href="#" (click)="tabsPanel.selectTab(emailTab)">next step > </a>
        </span>
      </app-tab>
      <app-tab label="Email" #emailTab>
        <form [formGroup]="form">
          <mat-form-field appearance="outline">
            <input matInput placeholder="First Name">
          </mat-form-field>
        </form>
        <span class="nextpreviouscontrols">
          <a href="#" (click)="tabsPanel.selectTab(personalInformationTab)">
            < previous </a> <a href="#" (click)="tabsPanel.selectTab(credentialsTab)">next step >
          </a>
        </span>
      </app-tab>
      <app-tab label="Create Credentials" #credentialsTab>
        <form [formGroup]="form">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Password">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Confirm Password">
          </mat-form-field>
        </form>
        <span class="nextpreviouscontrols">
          <a href="#" (click)="tabsPanel.selectTab(emailTab)">
            < previous</a> <a href="#" (click)="submit()">completed
          </a>
        </span>
      </app-tab>
    </span>
  </app-tab-panel>
</div>
