<div class="container">
  <ng-template #defaultControls>
    <ng-container *ngIf="tabs">
      <ng-container *ngFor="let tab of tabs; let i = index">
        <button mat-stroked-button (click)="selectTab(tab)">
          {{i + 1}}
        </button>
      </ng-container>
    </ng-container>
  </ng-template>
  <div class="sidebar">
    <div class="controls">
      <ng-container *ngTemplateOutlet="template ? template : defaultControls; context: getTabs"></ng-container>
    </div>
    <div class="labels">
      <ng-container *ngTemplateOutlet="sideLabels"></ng-container>
    </div>
  </div>
  <div class="content">
    <ng-content select=".content"></ng-content>
  </div>

</div>
