div.container {
  display: flex;
  flex-direction: row;
  width: 100%;

  div.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    background-color: blue;
    div.controls {
      padding: 20px;
    }

    div.labels {
      padding: 20px;
    }
  }

  div.content {
    flex-grow: 1;
    padding: 20px;
  }
}

span.nextpreviouscontrols {
  border: 1px solid red !important;
  display: flex;
  justify-content: space-between;
}
